{% extends "index.html" %}
{% block body %}
<img src="images/paul.jpg" alt="a picture of me" class="left" height="250px"/>
<p>
I am currently a programmer, jazz guitarist, composer, and boxer. I am married
to an <a href="http://www.frenchfrieswithpepper.com/">awesome girl</a>, and we 
live in Brooklyn, NY, with our dog Milo. I also love to cook, and am eternally grateful
to have worked as a line cook when I was younger.
</p>
<p>
I'm a working guitarist, available for all kinds of gigs, although these days
I mostly play jazz guitar with a variety of groups. I started playing professionally
in my hometown of Raleigh, NC, and in addition to gigging around town, I toured 
the US with Regatta 69 in a 1957 greyhound bus that didn't have reverse. Since
moving to NYC, I've played and toured with Dem Brooklyn Bums, Elizabeth and the
Hot and Silver Trio, The Blue Saracens, Double Down, and done more jazz gigs than
you can shake a stick at. I also compose music, and occasionally work as an arranger.
</p>
<img src="images/milo.jpg" alt="a picture of my dog milo" class="right" width="200px"/>
<p>
In addition to music, I have programmed professionally my entire adult life.
I started at Glaxo Wellcome and IBM while I was getting my degree from NCSU,
then worked in the digital music industry at a couple startups after moving to NYC.
I now work in finance, and develop iOS applications in my spare time.
</p>
<p>
Boxing, and an interest in fitness, came a bit late in life for me, but it's now a big part of my life. 
As soon as I found Gleason's Gym, I was 
instantly hooked, and greatly enjoy sparring, and the whole boxing thing in general.
</p>
<p>
Thanks for visiting my site, and taking the time to read a little bit about me.
I hope you'll find some music you enjoy listening to.
</p>
{% endblock %}
