{% extends "index.html" %}
{% block body %}

<p>
The recording I am most proud of is a song I wrote called "Three"
<br/><br/>
<audio controls>
    <source src="/mp3s/three.mp3"/>
    <a href="/mp3s/three.mp3">listen</a> 
</audio>
</p>

<img src="/images/paul_playing.jpg" alt="a picture of me playing guitar" class="right" height="200px"/>
        <h2><a href="#recordings" class="collapser">Recordings</a></h2>
        <ul class="collapsable" id="recordings">
        <li><a href="mp3s/all_of_me.mp3">All of Me</a> (2010) - 2 guitars, I played both of 'em.</li>
        <li><a href="http://elizabethjazz.com/audio/elizabethjazz_L-O-V-E.mp3">L-O-V-E</a>, from elizabeth's CD, with me on guitar. Buy it on iTunes or CD Baby.</li>
        <li><a href="mp3s/bluesleave.mp3">when will the blues leave?</a> - andrew cox on bass and dan schlessinger on tenor. We spent a summer playing in the streets of europe together, and made this recording when we got home.</li>
        <li><a href="mp3s/three.mp3">three</a> (2003) - a recording of a tune I wrote when I was at the new school</li>
        <li><a href="mp3s/thin_ice.mp3">on thin ice</a> (2004) - a tune of mine I arranged for septet, this is a minidisc of us at a gig</li>
        <li><a href="mp3s/small_hotel.mp3">there's a small hotel</a> - me playing solo</li>
        <li><a href="mp3s/blackbird.mp3">bye bye blackbird</a> - trio with scott schaeffer and wataru uchida</li>
        </ul>
        
        <h2><a href="#wedding_music" class="collapser">Wedding Music</a></h2>
        <ul class="expandable" id="wedding_music">
        <li><a href="mp3s/processional.mp3">Processional</a> (2005) - This is the first "classical" piece I wrote, for our wedding ceremony in 2005. This was the music my lovely wife Sarah walked down the aisle to.</li>
        <li><a href="mp3s/recessional.mp3">Recesssional</a> (2005) - My second string quartet piece, this was played at the end of our wedding.</li>
        <li><a href="mp3s/new_string_quartet.mp3">For Andrew and Morgan</a> (2007) - I wrote this as a gift for my friends andrew and morgan's wedding.</li>
        </ul>
        
        <h2><a href="#juilliard" class="collapser">Juilliard</a></h2>
        <ul class="expandable" id="juilliard">
        <li><a href="mp3s/juilliard/concerto_grosso.mp3">Concerto Grosso</a> - A concerto for Eb trumpet, violin, flute, oboe, cello and double bass. Uses ritornello form, and a constraint was that pitch should be incidental.</li>
        <li><a href="mp3s/juilliard/green_glass.mp3">Green Glass</a> - theme and variations for string quartet, using a 12 tone row throughout. </li>
        <li><a href="mp3s/juilliard/elocution.mp3">Elocution</a> - A chaconne for solo violin, with one constraint. every note in the score had to be marked with some sort of articulation. This was an immensely helpful assignment for me, as it got me into the habit of writing out articulations.</li>
        <li><a href="mp3s/juilliard/the_calm_before.mp3">The Calm Before...</a> - A piece for solo clarinet, which had to utilize two intervals throughout. I chose a major second and a perfect fourth. </li>
		<li><a href="mp3s/juilliard/piano_triads.mp3">Sketches for Piano</a> - A study in tertial, secundal, quartal and split triads for solo piano. Written in rounded binary form. </li>
		<li><a href="mp3s/juilliard/two_thirds.mp3">Two Thirds</a> - A trio for horn, oboe and cello. The kicker here was there had to be an "event" exactly 61.8% of the way through the piece, and another exactly halfway. The piece should be shaped by these two events. This was hard, and I ended up writing a lot extra and the deleting many sections to get it to come out right.</li>
		<li><a href="mp3s/juilliard/horn_trio.mp3">Horn Trio</a> - A trio for trumpet, trombone and horn. I can't remember the constraint on this one.</li>
		<li><a href="mp3s/juilliard/falling_through.mp3">Falling Through</a> - Our first assignment, for flute and cello. This was a rondo, which repeated a theme across several different modes.</li>
		<li><a href="mp3s/juilliard/sidewalk.mp3">Where the Sidewalk Ends</a> - A duet for soprano and piano. The text is from Shel Silverstein's famous poem.</li>
        
        </ul>
        
        <h2><a href="#orchestrations" class="collapser">Orchestrations</a></h2>
        <ul class="expandable" id="orchestrations">
        <li><a href="mp3s/Gnossienne.mp3">Gnossienne</a> (2009). My orchestration of Erik Satie's Gnossienne for String Orchestra and Harp. The original piece was written for piano</li>
        <li><a href="mp3s/shostakovich.mp3">Shostakovich's 4th Quartet, 3rd movement</a> (2010). This is Shostakovich's 4th string quartet re-imagined for Woodwinds, Brass and Percussion.</li>
        <li><a href="mp3s/la_colombe.mp3">Messiaen's "La Colombe"</a> (2011). My final orchestration project, for full orchestra.</li>
        </ul>
        <h2><a href="#lead_sheets" class="collapser">Lead Sheets</a></h3>
        <ul class="expandable" id="lead_sheets">
        <li><a href="pdfs/three.pdf">three</a> - a laid back waltz</li>
        <li><a href="pdfs/onthinice.pdf">on thin ice</a> - another waltz, really fun to solo on</li>
        <li><a href="pdfs/september.pdf">september</a> - when I wrote this tune, I originally came up 
        with the hot title "september in the rain". unfortunately, I later found out that was taken.</li>
        <li><a href="pdfs/xmas_without_you.pdf">christmas without you</a> - a christmas song I wrote after a friend of 
        mine's dad passed away.</li>
        </ul>
        
        <h2><a href="#studies" class="collapser">Studies</a></h2>
        <ul class="expandable" id="studies">
        <li><a href="pdfs/bachlike.pdf">Bachlike</a><a href="mp3s/bachlike.mp3">(mp3)</a> - a counterpoint study</li>
        <li><a href="pdfs/blue_pools.pdf">Blue Pools</a><a href="mp3s/blue_pools.mp3">(mp3)</a> - another study in the bach style of counterpoint</li>
        </ul>

        <h2><a href="#transcriptions" class="collapser">Transcriptions</a></h2>
        <ul class="expandable" id="transcriptions">
        <li><a href="pdfs/milt_housed.pdf">Milt Hinton's Basslines on "Housed from Edward"</a> , From Branford Marsalis' trio recording, "Trio Jeepy"</li>
        <li><a href="pdfs/wayne_joker.pdf">Wayne Shorter's solo on "The Joker"</a> (<a href="mp3s/wayne_joker.mp3">mp3</a>)</li>
        <li><a href="pdfs/pete_jeannine.pdf">Peter Bernstein's solo on "Jeannine"</a> (<a href="mp3s/pete_jeannine.mp3">mp3</a>)</li>
        <li><a href="pdfs/pete_ladybird.pdf">Peter Bernstein's solo on "Lady Bird"</a> (<a href="mp3s/pete_ladybird.mp3">mp3</a>)</li>
        <li><a href="pdfs/pete_blues.pdf">Peter Bernstein's solo on "Billie's Bounce"</a> (<a href="mp3s/pete_blues.mp3">mp3</a>)</li>
        <li><a href="pdfs/like_yeah.pdf">Peter Bernstein's solo on "Like Yeah"</a> (<a href="mp3s/like_yeah.mp3">mp3</a>)</li>
         <li><a href="pdfs/peter_chant.pdf">Peter Bernstein's solo on "Chant"</a> (<a href="mp3s/peter_chant.mp3">mp3</a>)</li>
         <li><a href="pdfs/whocan.pdf">Peter Bernstein's solo on "Who Can I Turn To?"</a></li>
        <li><a href="pdfs/kenny_solid.pdf">Kenny Garrett's solo on "Solid"</a> (<a href="mp3s/kenny_solid.mp3">mp3</a>)</li>
         <li><a href="pdfs/woody_missjones.pdf">Woody Shaw's solo on "Have You Met Miss Jones?"</a> (<a href="mp3s/woody_missjones.mp3">mp3</a>)</li>
         <li><a href="pdfs/red_paul_foggy_day.pdf">Red Garland and Paul Chambers on "A Foggy Day"</a> (<a href="mp3s/red_paul_foggy_day.mp3">mp3</a>)</li>
        </ul>
{% endblock %}
