{% extends "index.html" %}
{% block body %}
<h2>BeatDown Metronome</h2>
<p>I'm the developer of <a href="http://www.pineapplestreetsoftware.com/beatdown/">
BeatDown Metronome</a>, an iOS metronome application. I wrote it to teach myself
objective-C, and found it useful enough to release in the App Store. It's free,
and I enjoy practicing with it.
</p>

<h2>Web Development</h2>
<p>
I have a bunch of projects in progress over at <a href="https://github.com/pcsanwald/">my Github page</a>. The site you are reading now is part of my attempt to get 
better at jQuery, which is why it uses jQuery/javascript for lots of unnecessary
things.
</p>
<h2>Other Interests</h2>
<p>
Through studying javascript, I've developed a strong interest in functional programming, so far in scheme and racket, although I'm looking forward to learning more about Haskell.
I also enjoy coding in Python, improving my C skills, and look forward to continue
learning new languages and ways of thinking.
</p>
{% if posts %}
    <h2> Recent posts on software:</h2>
    {% include 'posts.html' %}
{% endif %}

{% endblock %}
